.header {
    background-color: #f0f0f0;
    padding: 20px 0;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* чтобы Header был над остальным контентом */
}
  
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header__logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
  
.header__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.header__item {
    margin-left: 30px;
}
  
.header__link {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}
